body{
	 font-family: 'Merriweather', serif;
	 background: black;

}
.header{
	 background: #243755;
	 position: fixed;/* se queda siempre en la pantalla*/
	 z-index: 10;
	 width: 100%;
}
.navbar-brand {
	color:#243755;
	font-size: 25px;
}
.btn{
	color:#243755;
	border-color: #243755;

}
.btn:hover, a.btn:focus{
background:#243755;
}
.form-control{
	border-color: #243755;
}
.carousel-inner img {
    width: 100%;
    height: 700px;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))) 


  }
  .carousel-inner {
    background-image: linear-gradient(#EB5A47,#EB5A47,#213755);
 
  }
  .txt_c{
  	font-size: 40px;
  	text-align: center;
  background: rgb(200,199,199,.6);
  color:#243755;

  }